<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/tui-pagination/dist/tui-pagination.css"/>
    <script type="text/javascript" src="/node_modules/tui-pagination/dist/tui-pagination.js"></script>

    <link rel="stylesheet" href="/node_modules/tui-grid/dist/tui-grid.css" />
    <script src="/node_modules/tui-grid/dist/tui-grid.js"></script>
    <title>장비등록폼</title>
</head>
<script>
    let gridMst;
    let gridDtl;
    let equipCateOption = '';
    class CustomTextEditor {
        constructor(props) {
            const el = document.createElement('input');
            const { maxLength } = props.columnInfo.editor.options;

            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);

            this.el = el;
        }

        getElement() {
            return this.el;
        }

        getValue() {
            return this.el.value;
        }

        mounted() {
            this.el.select();
        }
    }
    $(document).ready(function () {
        // 1. 장비종류 콤보박스 데이터베이스에서 끌고오기
        $.ajax({
            url  : "/equip/selectEquipCateCombo",
            type : "GET",
            contentType : "application/json", // 요청 컨텐트 타입
            dataType    : "json", // 응답 데이터 형식 (명시하지 않을 경우 자동으로 추측)

            success : function(data) {
                for (let i = 0; i < data.length; i++) {
                    equipCateOption += `<option value="${data[i].EQUIP_CATE_NO}">${data[i].EQUIP_CATE_NM}</option>`
                }
                $('#equipCateCombo').append(equipCateOption);
            },
            error	: function(xhr, status, error) {
                // 응답을 받지 못하였다거나 정상적인 응답이지만 데이터 형식을 확인할 수 없기 때문에
                // error 콜백이 호출될 수 있습니다.
                // 예를 들어, dataType을 지정해서 응답 받을 데이터 형식을 지정하였지만,
                // 서버에서는 다른 데이터형식으로 응답하면  error 콜백이 호출되게 됩니다.
            },
        })

        gridMst = new tui.Grid({
            el: document.getElementById('gridMst'),
            pageOptions: {
                useClient: true,	// front에서만 페이징 하는 속성
                perPage: 10
            },
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '장비번호',
                    name: 'EQUIP_NO',
                    width: 100
                },
                {
                    header: '카테고리명',
                    name: 'EQUIP_CATE_NM',
                    width: 150
                },
                {
                    header: '장비명',
                    name: 'EQUIP_NM',
                    width: 400
                },
                {
                    header: '가격',
                    name: 'EQUIP_PRICE',
                    width: 150
                },
                {
                    header: '링크',
                    name: 'EQUIP_LINK',
                    width: 400,
                    // formatter: function(e){
                    //     return `<a href="${e.value}">${e.value}</a>`;
                    // }
                }
            ]
        });

        gridDtl = new tui.Grid({
            el: document.getElementById('gridDtl'),
            columns: [
                {
                    header: '카테고리명',
                    name: 'EQUIP_CATE_NM',
                },
                {
                    header: '장비명',
                    name: 'EQUIP_NM',
                },
                {
                    header: '장비평점',
                    name: 'EQUIP_RATING',
                    copyOptions: {
                        useListItemText: true
                    },
                    formatter: 'listItemText',
                    editor: {
                        type: 'radio',
                        options: {
                            listItems: [
                                { text: '★☆☆☆☆', value: '1' },
                                { text: '★★☆☆☆', value: '2' },
                                { text: '★★★☆☆', value: '3' },
                                { text: '★★★★☆', value: '4' },
                                { text: '★★★★★', value: '5' },
                            ]
                        }
                    }
                },
                {
                    header: '비고',
                    name: 'EQUIP_COMMENT',
                    editor: {
                        type: CustomTextEditor,
                        options: {
                            maxLength: 255
                        }
                    }
                },
                {
                    header: '장비번호',
                    name: 'EQUIP_NO',
                    hidden: true // 해당 컬럼 숨기기
                }
            ]
        });

        $('#searchBtn').click(function () {
            // 1. 장비종류 콤보박스 데이터베이스에서 끌고오기
            $.ajax({
                url  : "/equip/selectEquipCombo",
                type : "GET",
                data : {
                    // 선택된 카테고리
                    equipCateNo: $('#equipCateCombo option:selected').val()
                },
                contentType : "application/json", // 요청 컨텐트 타입
                dataType    : "json", // 응답 데이터 형식 (명시하지 않을 경우 자동으로 추측)

                success : function(data) {
                    // 정상적으로 응답 받았을 경우에는 success 콜백이 호출되게 됩니다.
                    // 이 콜백 함수의 파라미터에서는 응답 바디, 응답 코드 그리고 XHR 헤더를 확인할 수 있습니다.
                    gridMst.resetData(data);
                },
                error	: function(xhr, status, error) {
                    // 응답을 받지 못하였다거나 정상적인 응답이지만 데이터 형식을 확인할 수 없기 때문에
                    // error 콜백이 호출될 수 있습니다.
                    // 예를 들어, dataType을 지정해서 응답 받을 데이터 형식을 지정하였지만,
                    // 서버에서는 다른 데이터형식으로 응답하면  error 콜백이 호출되게 됩니다.
                },
            })
        })

        $('#btnDtlAdd').click(function () {
            if (gridMst.getCheckedRows().length === 0) {
                swal("Validation", "체크된 행이 없습니다.", "warning");
                return;
            }

            if (gridMst.getCheckedRows().length > 1) {
                swal("Validation", "한 개의 행만 체크해야됩니다.", "warning");
                return;
            }

            let appendData = {
                EQUIP_NO: gridMst.getCheckedRows()[0].EQUIP_NO, /* 장비번호 */
                EQUIP_CATE_NM: gridMst.getCheckedRows()[0].EQUIP_CATE_NM, /* 카테고리명 */
                EQUIP_NM: gridMst.getCheckedRows()[0].EQUIP_NM, /* 장비명 */
            };

            // 카테고리명이 중복되는게 있을시 추가 불가능
            for (let i = 0; i < gridDtl.getData().length; i++) {
                if (gridDtl.getData()[i].EQUIP_CATE_NM === gridMst.getCheckedRows()[0].EQUIP_CATE_NM) {
                    swal("Validation", "같은 카테고리가 존재합니다. ", "warning");
                    return;
                }
            }
            // Mst 선택된 행 그리드 Append
            gridDtl.appendRow(appendData);
        });

        $('#btnReg').click(function () {
            if (gridDtl.getData().length === 0) {
                swal("Validation", "추가된 행이 없습니다.", "warning");
                return;
            }

            let gridDtlList = [];

            for (let i = 0; i < gridDtl.getData().length; i++) {
                let paramObj = {
                    'EQUIP_NO': gridDtl.getData()[i]['EQUIP_NO'],
                    'EQUIP_RATING': gridDtl.getData()[i]['EQUIP_RATING'],
                    'EQUIP_COMMENT': gridDtl.getData()[i]['EQUIP_COMMENT']
                }
                gridDtlList.push(paramObj);
            }

            // 사용자 장비등록
            $.ajax({
                url  : "/equip/regEquipEnv",
                type : "POST",
                data : {
                    "paramList": JSON.stringify(gridDtlList),
                },

                // contentType : "application/json;",
                dataType: "json", // 응답 데이터 형식
                success : function(data) {
                    // 정상적으로 응답 받았을 경우에는 success 콜백이 호출되게 됩니다.
                    // 이 콜백 함수의 파라미터에서는 응답 바디, 응답 코드 그리고 XHR 헤더를 확인할 수 있습니다.
                    gridMst.resetData(data);
                },
                error	: function(xhr, status, error) {
                    // 응답을 받지 못하였다거나 정상적인 응답이지만 데이터 형식을 확인할 수 없기 때문에
                    // error 콜백이 호출될 수 있습니다.
                    // 예를 들어, dataType을 지정해서 응답 받을 데이터 형식을 지정하였지만,
                    // 서버에서는 다른 데이터형식으로 응답하면  error 콜백이 호출되게 됩니다.
                },
            })
        })
    })
</script>
<body>
<div>
    <select class="form-select" id="equipCateCombo" style="width: 15%; display: inline">
    </select>
    <button type="button" class="btn btn-primary" id="searchBtn">검색</button>
</div>
<div id="gridMst" style="width: 80%"></div>
<div>
    <button type="button" class="btn btn-primary" id="btnDtlAdd">행 추가</button>
    <button type="button" class="btn btn-primary" id="btnReg">등록</button>
</div>
<div id="gridDtl" style="width: 80%"></div>
</body>
</html>
</script>